POSTGRES_USER=mutau
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=mutau
POSTGRES_PORT=5432

WEB_SECRET_KEY=CHANGE_ME
WEB_ADMIN_EMAIL=admin@example.com
WEB_ADMIN_NAME=Admin Account
WEB_ADMIN_PASSWORD=CHANGE_ME