@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Syne:wght@600;700;800&family=Space+Mono:wght@400;700&display=swap');

/*
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('../fonts/syne/Syne-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Syne';
  src: url('../fonts/syne/Syne-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/space-mono/SpaceMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/space-mono/SpaceMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
 */