{% extends "email/base_email.html" %}
{% block subject %}Passwort zurücksetzen{% endblock %}
{% block body %}
<h2>Passwort zurücksetzen</h2>
<p>Hallo{% if user.name %} {{ user.name.split()[0] }}{% endif %},<br>
wir haben eine Anfrage zum Zurücksetzen deines Passworts erhalten. Klicke auf den Button, um ein neues Passwort zu vergeben:</p>
<a href="{{ reset_url }}" class="btn">Passwort zurücksetzen</a>
<p>Der Link ist <strong>1 Stunde</strong> gültig.</p>
<hr class="divider">
<p class="url-fallback">Falls der Button nicht funktioniert, kopiere diesen Link in deinen Browser:<br>{{ reset_url }}</p>
{% endblock %}
{% block footer %}
muTau-Inventions GmbH &mdash; Falls du kein Passwort-Reset angefordert hast, kannst du diese E-Mail ignorieren.
{% endblock %}